/* load fonts*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
box-sizing:border-box;
padding: 0;
margin: 0;
}

/*color-vars*/
:root {
    --pink:#FFDCDC;
    --light-pink:#FFF2EB;
    --peach:#FFD6BA;
    --leaf-green:#7DCA72;
    --Thorn-Green: #167039;
    --Rose-Bud-Pink:#FF89AA;
}

body {
    background-color:var(--pink);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    width: 60vw;
    margin: 20px 20px;
    

}


/*typography*/
h1, h2, h3 {
    font-family:'Borel';
    color:#FF89AA;  
    margin-bottom:5px;
    margin-top:20px;  
}

p {
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 150% */ 
}

main{
    border-radius: 20px;
    background: var(--light-pink);
    padding: 20px;
}

img{
    margin-bottom:20px;
    margin-top:20px;
    max-width: 80vw;
    height: auto;
}

footer{
    margin: 10px;
    padding:10px;
}