/* load fonts*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
box-sizing:border-box;
padding: 0;
margin: 0;
}


/*color-vars*/
:root {
    --pink:#FFDCDC;
    --light-pink:#FFF2EB;
    --peach:#FFD6BA;
    --leaf-green:#7DCA72;
    --Thorn-Green: #167039;
    --Rose-Bud-Pink:#FF89AA;
    --Dark-Rose: #AD0C70;
}

body {
    background-color: #FFBACE;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/*link styling*/ 


.basmain {
 margin-top: 25vw;

}
main {
     margin: 4vw;
}

main ol, ul, li {
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 150% */ 
    padding-left: 5vw;
    color:#4c082c;
}


/*typography*/
h1, h2, h3 , h6 {
    font-family:'DM Serif Display', serif;
    color: var(--Dark-Rose, #AD0C70); 
    padding-left: 5vw;
    margin-bottom: 2vw;
   
}

p {
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 150% */ 
    padding-left: 5vw;
    color:#4c082c;
}


/* universal styles  */
img{
    align-self: center;
    margin-bottom:20px;
    margin-top:20px;
    width: 90vw;
    height: auto;
    border-radius: 15%; 
}

/*Heading Banner Styles*/
h1
{
    background-color:#FFDCDC;
    color: #AD0C70;
    padding: 1vw;
    padding-left: 20vw;
    border-radius: 10vw;
    margin-left: -15vw;
    margin-top: 6vw;
    width: 80%;
}

.banner2
{
    background-color:var(--Rose-Bud-Pink, #FF89AA);
    color: #FFF2EB;
    padding: 20px;
    padding-left: 20vw;
    border-radius: 10vw;
    margin-left: -15vw;
}

/*Pink Background Styles*/
.pink {
    background-color:#FF89AA;
    background-size: cover;
    color:#FFF2EB;
    margin: 10vw -20vw 10vw -20vw;
    padding: 5vw 20vw 5vw 20vw;


   

  mask: 
    linear-gradient(0,#0000 60px,#000 0) 0 30px,
    radial-gradient(30px,#000 calc(100% - 1px),#0000) 50%/55.5px 60px repeat space
}

.pink h2, h3{
    color:#FFF2EB;
    text-align: center;
    margin: 3vw;
}

.pink li {
    color:#FFF2EB;
    margin-left: 2vw;
}

.pink p {
    color:#FFF2EB;

}


/*Header Image Styles*/

/*basics*/
.basicshead {
    background-image: url(img-thebas/WhatTea/tf1.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 138px;
    height: 25vw;
    width: 100%;
    z-index: -1;
    margin-right: -30vw;
    margin-left: -4vw;
    padding-right: 20vw;

   mask: radial-gradient(30px at bottom,#0000 calc(100% - 1px),#000) 50%/55.5px 100%

}

.basmain {
 margin-top: 25vw;
}

/*Tea Page Styles*/
.teahead {
    background-image: url(img-tea/thead.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 138px;
    height: 25vw;
    width: 100%;
    z-index: -1;
    margin-right: -30vw;
    margin-left: -4vw;
    padding-right: 20vw;

  mask: radial-gradient(30px at bottom,#0000 calc(100% - 1px),#000) 50%/55.5px 100%

}

.teamain {
 margin-top: 25vw;
}

/*Food Page Styles*/
.foodhead {
    background-image: url(img-food/foodhead.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 138px;
    height: 25vw;
    width: 100%;
    z-index: -1;
    margin-right: -30vw;
    margin-left: -4vw;
    padding-right: 20vw;

  mask: radial-gradient(30px at bottom,#0000 calc(100% - 1px),#000) 50%/55.5px 100%

}

.foodmain {
 margin-top: 25vw;
}

.recipe  {
    font-size: 5vw;
    margin-left: 100px;
    font-weight: bold;
    
}

/*decor*/
.decorhead {
    background-image: url(img-decor/head.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 138px;
    height: 25vw;
    width: 100%;
    z-index: -1;
    margin-right: -30vw;
    margin-left: -4vw;
    padding-right: 20vw;

  mask: radial-gradient(30px at bottom,#0000 calc(100% - 1px),#000) 50%/55.5px 100%

}

.decormain {
 margin-top: 25vw;
}

/* Home Page Styles*/

.me {
  width: 150%;
  margin-left: -25vw;
  margin-bottom: -15vw;
  margin-top: -5vw;
}

.long-img {
      border-radius: 80px; 
}

/* Tea Page Styles*/
.table {
    border-radius: 30px;
}

.tea-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

.tea-img img {
    width: 30%;
    height: auto;
  
}

.teas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.teas img {
    width: 30%;
    height: auto;
}

/*Footer Styles*/

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    background: #fff1f1;
    color:#AD0C70;

  mask: 
    linear-gradient(180deg,#0000 30px,#000 0),
    radial-gradient(30px,#000 calc(100% - 1px),#0000) top/55.5px 60px
}

footer img {
    width: 20%;
    height: auto;
}
/* desktop media query */
@media only screen and (min-width: 780px) {

    main {
        align-items: left;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

     p {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 2vw;
    }

    img {
       
        width: 40vw;
        height: auto; 
    }

/* Home page desktop */
    
/*Home page*/
.home-img {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
} 

.home-img img {
    width: 30%;
    height: auto;
    border-radius: 15%; 
}
/*flexbox*/

.wrapper {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem; 

}
.text {
    flex: 1; 
}

.img {
 width: 30%; 
 max-width: 400px;
 vertical-align: middle; 
}


}