/* load fonts*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


* {
box-sizing:border-box;
padding: 0;
margin: 0;
}

/*color-vars*/
:root {
    --pink:#FFDCDC;
    --light-pink:#FFF2EB;
    --peach:#FFD6BA;
    --leaf-green:#7DCA72;
    --Thorn-Green: #167039;
    --Rose-Bud-Pink:#FF89AA;
    --Dark-Rose: #AD0C70;
}

body {
    background-color: #FFBACE;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/*link styling*/ 
main a {
    font-family:'Zen Kaku Gothic New', sans-serif;
    text-decoration: none;
    color: var(--light-pink, #FFF2EB);
    border: solid 5px var(--Rose-Bud-Pink , #FF89AA);
    border-radius: 25px;
    background-color: var(--Rose-Bud-Pink , #FF89AA);
    padding: 3px; 
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    line-height: 1;
  
}

body a:hover {
    color: var(--Dark-Rose, #AD0C70);
}


main {
     margin: 4vw;
}


/*typography*/
h1, h2, h3 , h6 {
    font-family:'DM Serif Display', serif;
    color: var(--Dark-Rose, #AD0C70);
    margin-bottom:5px;
    margin-top:20px;  
   
}

p {
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 150% */ 
    padding: 1vw;
}

/*if you wanted the border on main content
main{
    border-radius: 20px;
    background: var(--light-pink);
    padding: 20px;
}
    */

/* for mobile, media queries for desktop*/
img{
    align-self: center;
    margin-bottom:20px;
    margin-top:20px;
    width: 90vw;
    height: auto;
    border-radius: 15%; 
}

/*Heading Banner Styles*/
h1
{
    background-color:#FFDCDC;
    color: #AD0C70;
    padding: 20px;
    padding-left: 15vw;
    border-radius: 10vw;
    margin-left: -15vw;
}

.banner2
{
    background-color:var(--Rose-Bud-Pink, #FF89AA);
    color: #FFF2EB;
    padding: 20px;
    padding-left: 20vw;
    border-radius: 10vw;
    margin-left: -15vw;
}

/*Pink Background Styles*/
.pink {
    background-color:#FF89AA;
    background-size: cover;
    color:#FFF2EB;
    margin: 10vw -20vw 10vw -20vw;
    padding: 5vw 20vw 5vw 20vw;

  mask: 
    linear-gradient(0,#0000 60px,#000 0) 0 30px,
    radial-gradient(30px,#000 calc(100% - 1px),#0000) 50%/55.5px 60px repeat space
}

.pink h2, h3 {
    color:#FFF2EB;
}
/*Header Image Styles*/
.basicshead {
    background-image: url(img-thebas/WhatTea/tf1.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 150px;
    height: auto;
    width: 100%;
    z-index: -1;
    
}

.basmain {
    top-margin: 10vw;
}


/* Home Page Styles*/

.long-img {
      border-radius: 10%; 
}

.table {
    border-radius: 15%;
}


/* Tea Page Styles*/
.teas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.teas img {
    width: 30%;
    height: auto;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #fff1f1;

  mask: 
    linear-gradient(180deg,#0000 30px,#000 0),
    radial-gradient(30px,#000 calc(100% - 1px),#0000) top/55.5px 60px

}

footer img {
    width: 150px;
    height: auto;
}
/* desktop media query */
@media only screen and (min-width: 700px) {

    main {
        align-items: left;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

     p {
        font-size: 18px;
        line-height: normal;
    }

    img {
       
        width: 50vw;
        height: auto; 
    }

/* Home page desktop */
    
/*Home page*/
.home-img {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
} 

.home-img img {
    width: 30%;
    height: auto;
    border-radius: 15%; 
}

}