/* load fonts*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
box-sizing:border-box;
padding: 0;
margin: 0;
}

/*color-vars*/
:root {
    --pink:#FFDCDC;
    --light-pink:#FFF2EB;
    --peach:#FFD6BA;
    --leaf-green:#7DCA72;
    --Thorn-Green: #167039;
    --Rose-Bud-Pink:#FF89AA;
    --Dark-Rose: #AD0C70;
}

body {
    background-color: #FFBACE;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 4vw;
}

/*typography*/
h1, h2, h3 {
    font-family:'Borel';
    color: var(--Dark-Rose, #AD0C70);
    margin-bottom:5px;
    margin-top:20px;  
   
}

p {
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 150% */ 
    padding: 1vw;
}

/*if you wanted the border on main content
main{
    border-radius: 20px;
    background: var(--light-pink);
    padding: 20px;
}
    */

img{
    margin-bottom:20px;
    margin-top:20px;
    max-width: 60vw;
    height: auto;
    border-radius: 20%; 
}

.long-img {
      border-radius: 10%; 
}

.table {
    border-radius: 0%;
}

/*Home page*/
.home-img {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
} 

.home-img img {
    width: 30%;
    height: auto;
    border-radius: 20%; 
}


footer{
    margin: 10px;
    padding:10px;
}

/* desktop media query */
@media only screen and (min-width: 700px) {

    main {
        align-items: left;
    
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

     p {
        font-size: 18px;
        line-height: normal;
    }

    img {
        width: 90vw;
        height: auto; 
    }
}